/* LIKE: */
#vid_matrix{
    /* Baggrundsvideoen: */
    position:fixed;
    top:0px;
    left:0px;
    width:max-content;
    z-index:0;
}

#page_like{
    /*Så baggrundvideo er mulig: */
    position:relative;
    z-index:1;
}