/* GAMEHIST */
/* #gamehist: Container, der indeholder både leftnav og contentet med spil. */
#gamehist{
    display:flex;
    justify-content:space-around;
}

/* #leftnav: Indeholder knapper, skal fylde ca. 20% af venstre side: */
#gamehist #leftnav{
    width:20%;
    display:flex;
    flex-direction:column;
    position:sticky;
    padding-right:10px;
    padding-left:10px;
    min-width:70px;
}

/* Knapperne i navigationen i venstre side: */
#gamehist #leftnav button{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:5px;
    background-color:rgba(0,0,0,0);
    border:1px solid cadetblue;
    border-radius:5px;
    color:white;
    transition:all 1s;
    min-width:70px;
}

#gamehist #leftnav button:hover{
    background-color:cadetblue;
}

/* #games: Containeren, der viser sektionerne med indholdet: */
#gamehist #games{
    width:80%;
}

#gamehist #games div{
    display:flex;
    justify-content:space-around;
    margin-bottom:20px;
}


/* Billede til venstre, der viser et screenshot: */
#gamehist #games div img{
    width:40%;
    height:auto;
    border-radius:8px;
    display:inline-block;
}

/* Section der indeholder overskrift og tekst om spillet: */
#gamehist #games div section{
    width:70%;
    padding:10px;
    border-radius:10px;
    text-align:left;
    display:block;
}

/* Mobil: Billede og sektion under hinanden: */
@media screen and (max-width:700px){
    #gamehist #games div{
        flex-direction:column;
        align-items: center;
    }

    #gamehist #games div img{
        width:80%;
        height:auto;
    }
}