
/* LAYOUTBOKSE: */
/* SCROLLX: En horisontal ramme med en scrollbar */
.scrollX{
    overflow-x:scroll;
    overflow-y:hidden;
    display:flex;
    justify-content:space-around;
    height:300px;
    width:100%;
    padding-bottom:20px;
    padding-top:20px;
    margin-bottom:30px;
}

.scrollX iframe{
    display:block;
    min-width:40%;/* Width virker ikke på iframen, men min-width gør. */
    border-radius:10px;
    margin-right:20px;
    flex:1;
    border:1px solid black;
    box-shadow:2px 2px 5px black;
    margin:10px;
}

/* FITTY-FITTY: */
.fittyfitty {
    display:flex;
    position:relative; /* For at kunne placere noget absolute inden i. */
    z-index:1;
}

.fittyfitty div{
    flex:1;
    width:50%;
    max-width:50%;
    padding:10px;

    text-align:left;

    /* For at div'en er oven på, hvis der er en baggrund */
    position:relative;
    z-index:1;

    background-color:rgba(0,0,0,0.5)
}

.fittyfitty div img{
    width:100%;
    height:auto;
    border-radius:5px;
}

/* Under 400px stilles boksene under hinanden: */
@media screen and (max-width:500px){
    .fittyfitty{
        display:block;
    }

    .fittyfitty div{
        width:100%;
        max-width:100%;
    }
}

/* CENTERED: En boks med centreret indhold til introtekster: */
.centered{
    width:100%;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

/* LEARN: Specifikke for "learn": */
/* Submenu folder sig ud når man trykker på 'learn' */
#submenu{
    display:flex;
    justify-content:space-around;
    align-items: center;

    width:100%; /* Måske animere? */

    background-color:rgba(0,0,0,0.9);
    border-radius:10px;
    border-bottom:1px solid cadetblue;

    position:fixed;
    top:-900px;
    z-index:200;
    opacity:0;

    animation-duration:1s;
    animation-delay:0.1s;
    animation-fill-mode: forwards;
    /* animation-name by JS.*/

}

@keyframes submenuEntry{
    from{top:-400px;opacity:0}
    to{top:0px;opacity:1}
}

#submenu img{
    width:30%;
    height:20%;
    margin:5%;
}

#submenu p{
    position:absolute;
    bottom:5px;
    right:5px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30pt;
    z-index: 2;
    transition:all 0.5s;
    font-size:1.4em;
}

#submenu p:hover{
    cursor:hand;
    font-size:4em;
}

/* Andet: */
iframe{
    max-width:100%;
}
.leftright50{
    display:flex;
    margin-bottom:30px;
}

.leftright50 div{
    width:50%;
}

.leftright50 div:first-child{
    text-align:right;
    padding-right:20px;
}
.leftright50 div{
    text-align:left;
}

.fullwidth{
    width:100%;
}